body {
    padding: 0;
    margin: 0;
}

a:link {
   color: white;
   text-decoration: none white;
}

a:hover {
    color: white;
}

a:visited {
    text-decoration: none;
    color: none;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: #1f2937;
    max-height: 20px;
    border-radius: 10px;
}

.header-links {
    font-family: Arial, Helvetica, sans-serif;
}

.logo {
    display: flex;
    align-self: center;
    height: 45px;
    width: auto;
    min-width: fit-content;  
}

img {
    border-radius: 10px;
}

.hero-section {
    background-color: #1f2937;
    display: flex;
    justify-content: center space-evenly;
    align-items: center;
    padding: 1em;
}

img[src*="nrb_logo_happy_peace.png"] {
    min-width: 300px;
    height: auto;
    background-color: white;
    margin: 1em;
}

.text {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 6px;
}

.button {
    background-color: #3882f6;
    
}
